.budget-planning-container {
  width: 100%;
  padding: 0px 20px;
  display: flex;
}

.budget-planning-header {
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: row;
  .ms-Dropdown-container, .ms-Label {
    padding-right: 20px;
  }
}

.budget-planning-react-grid {
  width: 100%;
  height: 300px;
  overflow: scroll;
  display:flex;
  flex-direction: column;
}

.variable-views-budget-planner {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  height: calc(100vh - 112px);
  overflow: auto;
}

.nevy-blue-header{
  background-color: #cedeeac2 !important;
  color: #585858;
 }

.grey-header {
  background-color: #f1f1f1;
  color: black;
}