#reactgrid-red {
// colors
$primary-color:                     rgb(242, 0, 0);
$bg-color:                          rgb(0,0,0);
$frozens-bg-color:                  #040835;
$shadow-color:                      #02382d;
$row-line-color:                    rgba(0, 0, 0, 0.199);
$col-line-color:                    rgba(0, 0, 0, 0.199);
$fillhandle-action-border-color:    rgb(0, 239, 191);
$cell-editor-bg-color:              red;
//sizing
$row-separator-line-width:              2px !default;
$col-separator-line-width:              2px !default;

$cell-padding:                          0 10px !default;
$cell-focus-border-width:               3px !default;
$celleditor-border-width:               3px !default;
$celleditor-padding-top:                1px !default;

$fill-handle-area:                      10px !default;
$fill-handle-square:                    10px !default;
$fill-handle-border-width:              2px !default;

$resize-handle-area:                    11px !default;
$line-size:                             2px !default;

$partial-area-border-width:             1px !default;
$partial-area-selected-border-width:    1px !default;

$context-menu-option-padding:           8px 20px 8px 15px !default;
  font-family: 'poppins', sans-serif;
  @import '@silevis/reactgrid/styles.scss';
}

#reactgrid-gold {
  $primary-color: gold;
  @import '@silevis/reactgrid/styles.scss';
}