.rg-time-cell-template {
    input {
        position: inherit;
        width: 100%;
        height: 100%;
        padding: 0;
        border: 0;
        background: transparent;
        font-size: 1em;
        outline: none;
        font-family: inherit;
    }

    select {
        outline: none;
    }

    .react-time-picker {
        width: inherit;
        height: inherit;

        &__wrapper {
            width: inherit;
            height: inherit;
            border: none;
        }
        
        &__inputGroup {
            width: inherit;
            height: inherit;

            &__hour {
                margin-left: -2px;
            }

            &__minute {
                margin-left: 0;
            }
        }
    }
}

